In [1]:
import numpy as np
import pandas as pd

In [2]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 
              'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 
              'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 
              'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [3]:
data_set=pd.read_csv('kc_house_data.csv',dtype=dtype_dict)

In [4]:
data_set.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [6]:
train_data=pd.read_csv('kc_house_train_data.csv',dtype=dtype_dict)

In [7]:
test_data=pd.read_csv('kc_house_test_data.csv',dtype=dtype_dict)

In [8]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [9]:
test_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0114101516,20140528T000000,310000.0,3.0,1.0,1430.0,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780.0,12697.0
1,9297300055,20150124T000000,650000.0,4.0,3.0,2950.0,5000,2,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140.0,4000.0
2,1202000200,20141103T000000,233000.0,3.0,2.0,1710.0,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030.0,4705.0
3,8562750320,20141110T000000,580500.0,3.0,2.5,2320.0,3980,2,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580.0,3980.0
4,7589200193,20141110T000000,535000.0,3.0,1.0,1090.0,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570.0,5080.0

In [27]:
def simple_linear_regression_model(input_feature,output):
    x=input_feature
    y=output
    n=len(input_feature)
    x_mean=x.mean()
    y_mean=y.mean()
    sum_x=x.sum()
    sum_y=y.sum()
    sum_xy=(y*x).sum()
    sum_sqx=(x**2).sum()
    num=sum_xy-(sum_x*sum_y)/n
    deno=sum_sqx-(sum_x*sum_x)/n
    slope=num/deno
    intercept=(y_mean)-slope*(x_mean)
    return (slope,intercept)

In [55]:
input_feature = train_data['sqft_living']
output = train_data['price']
slo,inter=simple_linear_regression_model(input_feature,output)

In [56]:
inter

-47116.07907289418

In [57]:
slo

281.9588396303426

In [58]:
def get_regression_prediction(input_feature,intercept,slope):
    predicted_price=intercept+(slope*input_feature)
    return predicted_price

In [64]:
train_slope,train_intercept=simple_linear_regression_model(input_feature=train_data['sqft_living'].values,output=train_data['price'].values)

In [65]:
train_intercept

-47116.07907289418

In [66]:
train_slope

281.9588396303426

In [67]:
feature=2650
estimated_price=get_regression_prediction(feature,train_intercept,train_slope)

In [68]:
print ("The estimated price for a house with %d squarefeet is $%.2f" % (feature, estimated_price))

The estimated price for a house with 2650 squarefeet is $700074.85

In [72]:
def RSS(intercept,slope,output,input_feature):
    estimated_price=intercept+slope*input_feature
    residual=output-estimated_price
    rss=(residual*residual).sum()
    return rss

In [73]:
rss=RSS(train_intercept,train_slope,output=train_data['price'],input_feature=train_data['sqft_living'])

In [74]:
rss

1201918354177283.0

In [75]:
def get_input(intercept,slope,output):
    input_sqft=(output-intercept)/slope
    return input_sqft

In [76]:
sqft=get_input(train_intercept,train_slope,output=800000)

In [77]:
sqft

3004.3962451522766

In [79]:
bedroom_slope,bedroom_intercept=simple_linear_regression_model(input_feature=train_data['bedrooms'],output=train_data['price'])

In [80]:
bedroom_slope

127588.95293398784

In [81]:
bedroom_intercept

109473.1776229596

In [82]:
sqft_intercept, sqft_slope = simple_linear_regression(train_data['bedrooms'].values, 
                                                      train_data['price'].values)
rss_prices_on_bedrooms = RSS(sqft_intercept, sqft_slope,test_data['price'].values, test_data['bedrooms'].values, )

In [83]:
rss_prices_on_bedrooms

493364585960300.9

In [86]:
# Compute RSS when using squarfeet on TEST data:
sqft_intercept, sqft_slope = simple_linear_regression(train_data['sqft_living'].values, 
                                                      train_data['price'].values)
rss_prices_on_sqft = RSS(sqft_intercept, sqft_slope,test_data['price'].values,test_data['sqft_living'].values)

In [87]:
rss_prices_on_sqft

275402933617812.12